
httpdicom.xcodeproj/project.xcworkspace/xcuserdata/jacquesfauquex.xcuserdatad/UserInterfaceState.xcuserstate

httpdicom.xcodeproj/xcuserdata/jacquesfauquex.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate

*.xcscheme

httpdicom.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

conf/*


httpdicom.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.log

deploy/pacs.plist

deploy/dal55mysqlpacs.plist

httpdicom.xcodeproj/xcuserdata/claudiobaeza.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

httpdicom.xcodeproj/xcuserdata/claudiobaeza.xcuserdatad/xcschemes/xcschememanagement.plist
