
httpdicom.xcodeproj/project.xcworkspace/xcuserdata/*
httpdicom.xcodeproj/xcuserdata/*
*.log
*.xcbkptlist
*.DS_Store
deploy/local/httpdicom/httpdicom
deploy/local/httpdicom/httpdicom
deploy/local/httpdicom/httpdicom
httpdicom.xcodeproj/xcshareddata/xcschemes/httpdicom.xcscheme
*.xcscheme
