<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.3</key>
	<dict>
		<key>pcsURL</key>
		<string>http://10.110.89.3:12345</string>
		<key>pcst</key>
		<string>cudim</string>
		<key>pcsi</key>
		<string>2.16.858.0.0.2.3</string>
		<key>pcsResources</key>
		<string>/Users/Shared/IIDproxy</string>
		<key>sqldb</key>
		<string>dcm4chee-2.18.3-myql</string>
		<key>sqlconnector</key>
		<string></string>
		<key>sqluser</key>
		<string></string>
		<key>sqlpassword</key>
		<string></string>
		<key>usesAccessionNumberIssuer</key>
		<false/>
		<key>stowRS</key>
		<string></string>
		<key>qidoRS</key>
		<string>http://10.110.89.3:8080/dcm4chee-arc/qido</string>
		<key>wadoRS</key>
		<string>http://10.110.89.3:8080/dcm4chee-arc/wado</string>
		<key>wadoURI</key>
		<string>http://10.110.89.3:8080/dcm4chee-arc/wado</string>
		<key>wadoAdditionalParameters</key>
		<string>&amp;amp;transferSyntax=1.2.840.10008.1.2.4.90</string>
		<key>dicomaet</key>
		<string>DCM4CHEE</string>
		<key>dicomip</key>
		<string>10.110.89.3</string>
		<key>dicomport</key>
		<string>11112</string>
	</dict>
	<key>1.2</key>
	<dict>
		<key>pcsPort</key>
		<string>50000</string>
		<key>logLevel</key>
		<string>2</string>
		<key>storescu</key>
		<string>~/Desktop/httpdicom/dcm4che-3.3.7/bin/storescu</string>
		<key>storescuArgs</key>
		<array>
			<string>-c</string>
			<string>DCM4CHEE@127.0.0.1:11112</string>
		</array>
		<key>pcsURL</key>
		<string>http://10.110.89.2:12345</string>
		<key>pcst</key>
		<string>asse</string>
		<key>pcsi</key>
		<string>2.16.858.0.0.2.1</string>
		<key>pcsResources</key>
		<string>/Users/Shared/httpdicom/resources</string>
		<key>pcsAudit</key>
		<string>/Users/Shared/httpdicom/audit</string>
		<key>sqldb</key>
		<string>dcm4chee-2.18.3-myql</string>
		<key>sqlconnector</key>
		<string></string>
		<key>sqluser</key>
		<string></string>
		<key>sqlpassword</key>
		<string></string>
		<key>usesAccessionNumberIssuer</key>
		<false/>
		<key>stowRS</key>
		<string></string>
		<key>qidoRS</key>
		<string>http://190.64.48.21:8080/dcm4chee-arc/aets/DCM4CHEE/rs</string>
		<key>wadoRS</key>
		<string>http://190.64.48.21:8080/dcm4chee-arc/aets/DCM4CHEE/rs</string>
		<key>wadoURI</key>
		<string>http://190.64.48.21:8080/dcm4chee-arc/aets/DCM4CHEE/rs</string>
		<key>wadoAdditionalParameters</key>
		<string>&amp;amp;transferSyntax=1.2.840.10008.1.2.4.90</string>
		<key>dicomaet</key>
		<string>DCM4CHEE</string>
		<key>dicomip</key>
		<string>10.110.89.3</string>
		<key>dicomport</key>
		<string>11112</string>
	</dict>
</dict>
</plist>
