<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.3.6.1.4.1.23650.152.0.2.738280</key>
	<dict>
		<key>custodiantitle</key>
		<string>IRP</string>
		<key>custodianoid</key>
		<string>1.3.6.1.4.1.23650.152.0.2.738280</string>
		<key>islocalhosted</key>
		<true/>
		<key>publicuri</key>
		<string>https://</string>
		<key>qido</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP/rs</string>
		<key>wadouri</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP/wado</string>
		<key>wadoadditionalparameters</key>
		<string>&amp;amp;transferSyntax=1.2.840.10008.1.2.4.90</string>
		<key>wadors</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP/rs</string>
		<key>sql</key>
		<string>/Users/Shared/httpdicom/conf/dal55mysql.plist</string>
		<key>dicomaet</key>
		<string>IRP</string>
		<key>dicomip</key>
		<string>127.0.0.1</string>
		<key>dicomport</key>
		<string>11113</string>
	</dict>
	<key>1.3.6.1.4.1.23650.152.0.2.738280.1</key>
	<dict>
		<key>custodiantitle</key>
		<string>IRP</string>
		<key>custodianoid</key>
		<string>1.3.6.1.4.1.23650.152.0.2.738280</string>
		<key>islocalhosted</key>
		<true/>
		<key>publicuri</key>
		<string>https://</string>
		<key>qido</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-PROV/rs</string>
		<key>wadouri</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-PROV/wado</string>
		<key>wadoadditionalparameters</key>
		<string>&amp;amp;transferSyntax=1.2.840.10008.1.2.4.90</string>
		<key>wadors</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-PROV/rs</string>
		<key>sql</key>
		<string>/Users/Shared/httpdicom/conf/dal55mysql.plist</string>
		<key>dicomaet</key>
		<string>IRP-PROV</string>
		<key>dicomip</key>
		<string>127.0.0.1</string>
		<key>dicomport</key>
		<string>11113</string>
	</dict>
	<key>1.3.6.1.4.1.23650.152.0.2.738280.2</key>
	<dict>
		<key>custodiantitle</key>
		<string>IRP</string>
		<key>custodianoid</key>
		<string>1.3.6.1.4.1.23650.152.0.2.738280</string>
		<key>islocalhosted</key>
		<true/>
		<key>publicuri</key>
		<string>https://</string>
		<key>qido</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-BB/rs</string>
		<key>wadouri</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-BB/wado</string>
		<key>wadoadditionalparameters</key>
		<string>&amp;amp;transferSyntax=1.2.840.10008.1.2.4.90</string>
		<key>wadors</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-BB/rs</string>
		<key>sql</key>
		<string>/Users/Shared/httpdicom/conf/dal55mysql.plist</string>
		<key>dicomaet</key>
		<string>IRP-BB</string>
		<key>dicomip</key>
		<string>127.0.0.1</string>
		<key>dicomport</key>
		<string>11113</string>
	</dict>
	<key>1.3.6.1.4.1.23650.152.0.2.738280.3</key>
	<dict>
		<key>custodiantitle</key>
		<string>IRP</string>
		<key>custodianoid</key>
		<string>1.3.6.1.4.1.23650.152.0.2.738280</string>
		<key>islocalhosted</key>
		<true/>
		<key>publicuri</key>
		<string>https://</string>
		<key>qido</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-LH/rs</string>
		<key>wadouri</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-LH/wado</string>
		<key>wadoadditionalparameters</key>
		<string>&amp;amp;transferSyntax=1.2.840.10008.1.2.4.90</string>
		<key>wadors</key>
		<string>http://127.0.0.1:8080/dcm4chee-arc/aets/IRP-LH/rs</string>
		<key>sql</key>
		<string>/Users/Shared/httpdicom/conf/dal55mysql.plist</string>
		<key>dicomaet</key>
		<string>IRP-LH</string>
		<key>dicomip</key>
		<string>127.0.0.1</string>
		<key>dicomport</key>
		<string>11113</string>
	</dict>
</dict>
</plist>
