<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">-->
<plist version="1.0">
    <dict>
        
        <!-- dicom model tables -->
        <key>STUDYtable</key>
        <string>study</string>
        <key>SERIEStable</key>
        <string>series</string>
        <key>INSTANCEtable</key>
        <string>instance</string>
        <!--dicom model  primary keys-->
        <key>STUDYpk</key>
        <string>pk</string>
        <key>SERIESpk</key>
        <string>pk</string>
        <key>INSTANCEpk</key>
        <string>pk</string>        
        <!--dicom model relations-->
        <key>SERIES_STUDY</key>
        <string>study_fk</string>
        <key>INSTANCE_SERIES</key>
        <string>series_fk</string>
        
        <!--dicom format tables-->
        <key>NAMEtable</key>
        <string>person_name</string>
        <key>PROCEDUREtable</key>
        <string>rel_study_pcode</string>       
        <key>CODEtable</key>
        <string>code</string>
        <key>ISSUERtable</key>
        <string>issuer</string>
        <!--dicom format primary key-->
        <key>NAMEpk</key>
        <string>pk</string>
        <key>PROCEDUREpk</key>
        <string></string>       
        <key>CODEpk</key>
        <string>pk</string>
        <key>ISSUERpk</key>
        <string>pk</string>
        <!--dicom format relations-->
        <key>PROCEDURE_CODE</key>
        <string>pcode_fk</string>       
        
        
        <!--dicom query response tables-->
        <key>PATIENTOBJECTStable</key>
        <string></string>
        <key>STUDYOBJECTStable</key>
        <string>study_query_attrs</string>
        <key>SERIESOBJECTStable</key>
        <string>series_query_attrs</string>
        <!--dicom query response primary key-->
        <key>PATIENTOBJECTSpk</key>
        <string></string>
        <key>STUDYOBJECTSpk</key>
        <string>pk</string>
        <key>SERIESOBJECTSpk</key>
        <string>pk</string>
        <!--dicom query response relation-->
        <key>PATIENTOBJECTS_PATIENT</key>
        <string></string>
        <key>STUDYOBJECTS_STUDY</key>
        <string>study_fk</string>
        <key>SERIESOBJECTS_SERIES</key>
        <string>series_fk</string>
        

        <!--patient tables-->
        <key>IDtable</key>
        <string>patient_id</string>       
        <key>PATIENTtable</key>
        <string>patient</string>  
        <!--patient  primary keys-->
        <key>IDpk</key>
        <string></string>       
        <key>PATIENTpk</key>
        <string>pk</string>  
        <!--patient relations-->
        <key>ID_ISSUER</key>
        <string>issuer_fk</string>       
        <key>PATIENT_ID</key>
        <string>patient_id_fk</string>
        <key>STUDY_PATIENT</key>
        <string>patient_fk</string>
        <key>PATIENT_NAME</key>
        <string>patient_fk</string>
        

        <!--study relations-->
        <key>PROCEDURE_STUDY</key>
        <string>study_fk</string>
        <key>STUDY_PROCEDURE</key>
        <string></string>
        <key>STUDY_ISSUER</key>
        <string>accno_issuer_fk</string>       
        <key>STUDY_REFNAME</key>
        <string>ref_phys_name_fk</string>
        <key>STUDY_REPNAME</key>
        <string></string>
        
        
        <!--series relations-->
        <key>SERIES_NAME</key>
        <string>perf_phys_name_fk</string>
        <key>SERIES_CODE</key>
        <string>inst_code_fk</string>


        <!--instance relations-->
        
        <!--iocmWhere-->
        <key>iocmWherePatient</key>
        <string>WHERE </string>
        <key>iocmWhereStudy</key>
        <string>WHERE study.rejection_state != 2 </string>
        <key>iocmWhereSeries</key>
        <string>WHERE series.rejection_state != 2 </string>       
        <key>iocmWhereInstance</key>
        <string>WHERE instance.reject_code_fk != NULL</string>
        
        <!-- indexed fields -->
        <key>indexedfield</key>
        <array>
            <string></string><!-- IssuerOfPatientID -->
            <string></string><!-- IssuerOfPatientIDQualifiersSequence.LocalNamespaceEntityID -->
            <string></string><!-- IssuerOfPatientIDQualifiersSequence.UniversalEntityID -->
            <string></string><!-- IssuerOfPatientIDQualifiersSequence.UniversalEntityIDType -->
            <string></string><!-- PatientID -->
            <string></string><!-- PatientName -->
            <string></string><!-- PatientBirthDate -->
            <string></string><!-- PatientSex -->
            <string></string><!-- 8 -->
            <string></string><!-- 9 -->
            <string></string><!-- 10 -->
            <string></string><!-- 11 -->
            <string></string><!-- 12 -->
            <string></string><!-- 13 -->
            <string></string><!-- 14 -->
            <string></string><!-- 15 -->
            <string></string><!-- 16 -->
            <string></string><!-- ProcedureCodeSequence.CodeValue -->
            <string></string><!-- ProcedureCodeSequence.CodingSchemeDesignator -->
            <string></string><!-- ProcedureCodeSequence.CodeMeaning -->
            <string></string><!-- StudyInstanceUID -->
            <string></string><!-- StudyDescription -->
            <string></string><!-- StudyDate -->
            <string></string><!-- StudyTime -->
            <string></string><!-- StudyID -->
            <string></string><!-- 25 -->
            <string></string><!-- 26 -->
            <string></string><!-- 27 -->
            <string></string><!-- 28 -->
            <string></string><!-- AccessionNumber -->
            <string></string><!-- IssuerOfAccessionNumberSequence.LocalNamespaceEntityID -->
            <string></string><!-- IssuerOfAccessionNumberSequence.UniversalEntityID -->
            <string></string><!-- IssuerOfAccessionNumberSequence.UniversalEntityIDType -->
            <string></string><!-- ReferringPhysicianName -->
            <string></string><!-- NameofPhysiciansReadingStudy -->
            <string></string><!-- ModalitiesInStudy -->
            <string></string><!-- NumberOfStudyRelatedSeries -->
            <string></string><!-- NumberOfStudyRelatedInstances -->
            <string></string><!-- 38 -->
            <string></string><!-- 39 -->
            <string></string><!-- SeriesInstanceUID -->
            <string></string><!-- Modality -->
            <string></string><!-- SeriesDescription -->
            <string></string><!-- SeriesNumber -->
            <string></string><!-- BodyPartExamined -->
            <string></string><!-- 45 -->
            <string></string><!-- 46 -->
            <string></string><!-- StationName -->
            <string></string><!-- InstitutionalDepartmentName -->
            <string></string><!-- InstitutionName -->
            <string></string><!-- Performing​Physician​Name -->
            <string></string><!-- 51 -->
            <string></string><!-- InstitutionCodeSequence.CodeValue -->
            <string></string><!-- InstitutionCodeSequence.CodeSchemeDesignator -->
            <string></string><!-- 54 -->
            <string></string><!-- PerformedProcedureStepStartDate -->
            <string></string><!-- PerformedProcedureStepStartTime -->
            <string></string><!-- RequestAttributeSequence.ScheduledProcedureStepID -->
            <string></string><!-- RequestAttributeSequence.RequestedProcedureID -->
            <string></string><!-- NumberOfSeriesRelatedInstances -->
            <string></string><!-- SOPInstanceUID -->
            <string></string><!-- SOPClassUID -->
            <string></string><!-- InstanceNumber -->
            <string></string><!-- HL7InstanceIdentifier -->
            <string></string><!-- 64  -->           
        </array>
    </dict>
</plist>
