<?xml version="1.0" encoding="UTF-8"?>
<plist
	xmlns="http://www.opendicom.com/xsd/plist/pacs.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.opendicom.com/xsd/plist/pacs.xsd 
	file:pacs.xsd"
	>
<dict>
	<key>2.16.858.2.212659800019.72769.217215590012</key>
	<dict>
		<key>preferredstudyidentificator</key>
		<string id="preferredstudyidentificator">StudyInstanceUID</string>
		<key>TimezoneOffsetFromUTC</key>
		<string id="TimezoneOffsetFromUTC">-0300</string>
		<key>pacstitle</key>
		<string id="pacstitle">PCS_BCBSU</string>
		<key>custodiantitle</key>
		<string id="custodiantitle">PCS_BCBSU</string>
		<key>custodianoid</key>
		<string id="custodianoid">2.16.858.2.212659800019.72769.217215590012</string>
		<key>custodianglobaluri</key>
		<string id="custodianglobaluri">http://127.0.0.1:11111</string>
		<key>sqlprolog</key>
		<string id="sqlprolog">export MYSQL_PWD=pacs;/usr/local/mysql/bin/mysql --raw --skip-column-names -upacs --batch -h 192.168.1.51 -b pacsdb_arc -e &quot;</string>
		<key>sqlstringencoding</key>
		<string id="sqlstringencoding">5</string>
		<key>sqlmap</key>
		<string id="sqlmap">dcm4chee.511.mysql.plist</string>
		<key>filesystemlocaluri</key>
		<string id="filesystemlocaluri"></string>
		<key>wadolocaluri</key>
		<string id="wadolocaluri">http://192.168.1.62:8080/dcm4chee-arc/aets/DCM4CHEE/wado</string>
		<key>wadoadditionalparameters</key>
		<string id="wadoadditionalparameters">&amp;transferSyntax=1.2.840.10008.1.2.4.90</string>
		<key>dcm4cheelocaluri</key>
		<string id="dcm4cheelocaluri">http://192.168.1.62:8080/dcm4chee-arc/aets/DCM4CHEE</string>
		<key>dcm4cheedimseproxytitle</key>
		<string id="dcm4cheedimseproxytitle"></string>
		<key>cachepolicy</key>
		<string id="cachepolicy">1</string>
		<key>timeoutinterval</key>
		<string id="timeoutinterval">60</string>
		<key>services</key>
		<dict>
			<key>CT</key>
			<dict>
				<key>html5dicomuserserviceuri</key>
				<string id="html5dicomuserserviceuri">http://ip:puerto/accounts/api/user</string>
				<key>html5dicomuseractive</key>
				<false/>
				<key>StationAETitle</key>
				<string id="StationAETitle"></string>
				<key>modalities</key>
				<array>
					<string id="modalities">CT</string>
				</array>
				<key>readingAsReferring</key>
				<true/>
				<key>referring</key>
				<dict>
					<key>1</key>
					<string id="referring">IRP^CT^JFauquex</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
